<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="/">Home</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>POST</span>
    </li>
  </ul>
</div>
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title"> 
	Manage  
    <small>POST</small>
</h1>
<!-- END PAGE TITLE-->

<div class="portlet box grey-cascade">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-globe"></i><%= @posts.length %> dòng(s)
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-toolbar">
      <!-- <div class="btn-group">
        <button id="btn_add_new" class="btn green">
          Thêm mới <i class="fa fa-plus"></i>
        </button>
      </div> -->
      <%= link_to "Upload data", post_update_data_path %>
      <div class="pull-right">
        <%= link_to "Excel_By_Xml", export_data_path(format: "xls") %>
        
      </div>
    </div>
    <table class="table table-striped table-bordered table-hover" id="table_module">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th width="350">
            Tên 
          </th>
          <th>
            Gia
          </th>   
          <th>image</th>    
          <th>
            Ngày tạo
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
      	<%  @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td><%= post.name %></td>
          <td><%= post.price %></td>
          <td>    
           <img src="<%= post.post_image[0].present? ? post.post_image[0].url : '' %>" height=40>          
          </td>
          <td><%= post.created_at.in_time_zone("Hanoi").strftime("%d/%m/%Y %H:%M") %></td>
          <td>
           
          </td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="99">
            <%= will_paginate @posts %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>